@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
    --color-navy-bg: #00081fb2;
}

* {
    font-family: sans-serif, var(--font-nerdsymbols);
} 

.markdown a, .text-link {
    color: lightblue;
    text-decoration: underline;
}

.markdown a:hover, .text-link:hover {
    color: cornflowerblue;
}

.markdown img {
    width: 50% !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.markdown h1 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.markdown h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.markdown h3 {
    font-size: 1.75rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}