@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
    --color-navy-bg: #00081fb2;
}

* {
    font-family: sans-serif, var(--font-nerdsymbols);
} 

.markdown a, .text-link {
    color: lightblue;
    text-decoration: underline;
}

.markdown a:hover, .text-link:hover {
    color: cornflowerblue;
}

.markdown img {
    width: 50% !important;
}