@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
    --color-navy-bg: #00081fb2;
}

* {
    font-family: sans-serif, var(--font-nerdsymbols);
}

.text-link {
    color: lightblue;
    text-decoration: underline;
}

.text-link:hover {
    color: cornflowerblue;
}

.markdown > h2 {
    font-size: var(--text-3xl);
}

