---
import BaseLayout from "@layouts/BaseLayout.astro";
import Blogs from "@components/Blogs.astro";
---
<BaseLayout pageTitle="blog" pageType="blog">
  <!-- <h1 class="mt-32 mx-auto w-fit text-6xl font-bold *:inline-block vibrate">
    ｶﾞｶﾞｶﾞｶﾞｶﾞ... ﾄﾞﾄﾞﾄﾞﾄﾞﾄﾞ... (工事音)
  </h1> -->
  <h1 class="py-8 text-center text-4xl font-bold">ブログ一覧</h1>
  <Blogs />
</BaseLayout>
<style>
  @keyframes vibration {
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(5px);
    }
  }
  
  .vibrate {
    animation: vibration 50ms linear infinite;
  }
</style>