---
import BaseLayout from "@layouts/BaseLayout.astro";

---

<BaseLayout pageTitle="startoy">
  <div class="text-lg md:text-4xl pt-8 pointer-none select-none opacity-50">
    背景の星とかで遊びたいならここでどうぞ〜
  </div>
</BaseLayout>