---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="startoy">
  <div class="min-h-full">
    <div class="text-lg md:text-4xl pt-8 pointer-none select-none opacity-50">
      背景の星とかで遊びたいならここでどうぞ〜
    </div>
    <div class="text-md md:text-xl pointer-none select-none opacity-50">
      ここだけ背景をマウスとかで動かせるようにしたんで張りぼて度合いを是非確認してみてね〜
    </div>
  </div>
</BaseLayout>
