---
import BaseLayout from "@layouts/BaseLayout.astro";

const works = (
  await Astro.glob("../pages/works/*.md")
)
.filter((w) => {
  // exclude files starting with "_"
  return !w.file.substring(w.file.lastIndexOf("/") + 1).startsWith("_")
});
const all_tags = works.flatMap((work) => work.frontmatter.tags as string[]);
const tags: {[tag in string]: number} = {};
for(const tag of all_tags) {
  if(tag in tags) {
    tags[tag]++;
  }else {
    tags[tag] = 1;
  }
}
---
<!-- TODO 検索バーを追加したい~ -->
<BaseLayout pageTitle="タグ一覧">
  <h1 class="py-8 text-center text-4xl font-bold">タグ一覧</h1>
  <ul class="mx-auto max-w-256 w-fit lg:grid lg:grid-cols-2">
    {Object.keys(tags).map((tag) => (
      <li class="my-1 lg:my-2w w-fit text-2xl text-nowrap mx-2">
        <a href={`/tag/${tag.replace("/", "-")}`} class="underline">#{tag}</a> - {tags[tag]}ページ
      </li>
    ))}
  </ul>
</BaseLayout>