---
import Title from "@components/Title.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const tag_pages = [
  ...(await Astro.glob("../pages/work/*.md")),
  ...(await Astro.glob("../pages/blog/*.md")),
].filter((w) => {
  // exclude files starting with "_"
  return !w.file.substring(w.file.lastIndexOf("/") + 1).startsWith("_");
});
const all_tags = tag_pages.flatMap((work) => work.frontmatter.tags as string[]);
const tags: { [tag in string]: number } = {};
for (const tag of all_tags) {
  if (tag in tags) {
    tags[tag]++;
  } else {
    tags[tag] = 1;
  }
}
---

<!-- TODO 検索バーを追加したい~ -->
<BaseLayout pageTitle="タグ一覧">
  <div class="min-h-full bg-navy-bg">
    <Title>タグ一覧</Title>
    <ul class="mx-auto max-w-5xl w-fit lg:grid lg:grid-cols-2">
      {
        Object.keys(tags)
          .sort()
          .map((tag) => (
            <li class="py-1 lg:py-2w w-fit text-2xl text-nowrap px-2">
              <a href={`/tag/${tag.replace("/", "-")}`} class="underline hover:text-blue-400">
                #{tag}
              </a>{" "}
              - {tags[tag]}ページ
            </li>
          ))
      }
    </ul>
  </div>
</BaseLayout>
