---
import BaseLayout from "@layouts/BaseLayout.astro";
import WorksSection from "@components/Works.astro";
import Title from "@components/Title.astro";
---

<BaseLayout pageTitle="works">
  <div class="bg-navy-bg">
    <Title>Works</Title>
    <WorksSection />
  </div>
</BaseLayout>
