---
import BaseLayout from "@layouts/BaseLayout.astro";
import WorksSection from "@components/Works.astro";
---

<BaseLayout pageTitle="works">
  <h1 class="block w-fit text-5xl font-bold mx-auto py-8">Works</h1>
  <WorksSection />
</BaseLayout>
