---
import Image from "astro/components/Image.astro";

import MyIcon from "@assets/myicon.png";
---

<div class="h-[80vh] flex flex-col items-center justify-center gap-8">
    <Image src={MyIcon} alt="My Icon" loading="eager" class="md:w-[20%] w-[50%] rounded-full" />
    <h1 class="text-4xl font-bold">Kenshin Nakao</h1>
</div>