---
import MyIcon from "@assets/myicon.png";

import { Image } from "astro:assets";

type Links = { [name in string]: { link: string; important: boolean } };

const links: Links = {
  home: { link: "/", important: false },
  works: { link: "/works/", important: false },
  tags: { link: "/tags/", important: true },
  blog: { link: "/blog/", important: false },
  startoy: { link: "/startoy/", important: false },
  "github \uf465": { link: "https://github.com/KNSN92/", important: true },
};
---

<nav
  class="bg-navy-bg backdrop-blur-sm sticky sm:static top-0 z-50 sm:w-64 w-screen sm:h-screen h-fit pl-8 py-4 tall:sm:py-24 flex sm:flex-col flex-row items-left justify-start gap-4 not-sm:border-b sm:border-r border-white/50 sm:overflow-y-scroll"
>
  <a href="/" class="w-fit h-fit">
    <Image
      src={MyIcon}
      alt="my icon"
      loading="eager"
      class="w-16 rounded-full"
    />
  </a>
  <ul class="*:mt-4 text-xl flex sm:block gap-4">
    {
      Object.entries(links).map(([name, link]) => (
        <li
          class={
            "hover:translate-x-2 hover:underline transition w-fit" +
            (link.important ? " block" : " hidden sm:block")
          }
        >
          <a href={link.link}>
            <span class="hidden sm:inline">-</span> {name}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="mt-auto text-md md:text-xl hidden sm:inline">© 2025 KNSN92</p>
  <p class="text-sm hidden sm:inline">
    SymbolsNerdFont - MIT License. See <a
      class="text-link text-nowrap"
      href="https://github.com/ryanoasis/nerd-fonts">this page</a
    >.
  </p>
</nav>
