---
import SocialIcon from "@components/SocialIcon.astro";
import GithubIcon from "@assets/github.svg";
---
<div class="flex gap-1 items-center justify-center h-12">
    <SocialIcon image={GithubIcon} url="https://github.com/KNSN92" name="github" />
</div>