---
interface Props {
  tag: string;
  link?: boolean;
}
const { tag, link } = Astro.props;
---
{
  link ? (
    <a href={`/tag/${tag.replace("/", "-")}`} class="underline">
      #{tag}
    </a>
  ) : (
    <span class="underline">#{tag}</span>
  )
}