---

---

<div
  class="mx-auto w-full pt-12 pb-4 sm:w-2/3 lg:w-1/2 text-4xl md:text-5xl font-bold flex items-center justify-between"
>
  <div class="border-t-2 border-white w-full"></div>
  <div class="px-8 text-nowrap">
    <slot class="px-16" />
  </div>
  <div class="border-t-2 border-white w-full"></div>
</div>
