---
import Tag from "@components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="w-full min-h-full flex flex-col justify-between bg-navy-bg">
    <div class="pt-12 mb-8 min-h-[50vh] flex flex-col lg:flex-row-reverse">
      <div class="flex-1">
        <h1 class="text-3xl sm:text-5xl font-bold mb-8 mt-4 sm:mt-0">
          {frontmatter.title}
        </h1>
        <div class="py-4 min-h-48 wrap-normal markdown">
          <slot />
        </div>
        <div class="flex flex-wrap gap-2 text-xl">
          {frontmatter.tags.map((tag: string) => <Tag tag={tag} link={true} />)}
        </div>
        <p class="text-xl">
          公開日: {frontmatter.pubDate.toString().slice(0, 10)}
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
<style is:global>
  .markdown a {
    color: lightblue;
    text-decoration: underline;
  }

  .markdown a:hover {
    color: cornflowerblue;
  }
</style>
